<% provide(:title, "Contact") %>
<% provide(:lang, "en") %>

<div style="display:block; width:100%;">
<div class="row">
  <div style="width:50%; float: left; display: inline-block;">
 
<h1> Contact us to... </h1> 
<h3> * To receive humanitarian assistance and information regarding immigrant rights and legal strategy.
<br>
* To volunteer professional services or personal skills and abilities.
<br>
* To request workshops, seminars, or public presentations. </h3>


  <h3>Phone: 641-316-6868</h3>


  <h3>Email: <a href="mailto:cosicentraliowa@gmail.com" >
 cosicentraliowa@gmail.com </a></h3>

  <h3>First Presbyterian Church <br> 1025 5th Ave <br>
  Grinnell, IA 50112</h3>

  </div>
  <div style="width:50%; float: left; display: inline-block;">
  
    <h1> Reach out to us... </h1> 

    <p> *** form goes here *** </p> 

  </div>
</div>