<% provide(:title, "Home") %>

<% provide(:lang, "en") %>
<img src="assets/home.jpg" width="1000" alt="Homepage Picture", class="centerImage", style="margin-top: 1%; margin-bottom: 5%;">
<h1 class="center", style="font-weight: bold;"> Mission Statement</h1>
<h2 id="about">CoSI (Community Support for Immigrants) promotes a welcoming, respectful, and safe environment for immigrants living or working in central Iowa (in particular Grinnell, Tama, Brooklyn).  We provide information about the resources available to immigrants in our community as well as some assistance. We also aim at building bridges of trust, mediate attitudes of divisiveness around the topic of immigration, and reduce the impact of an immigration enforcement incident on the social fabric and economic well-being of the community. We also provide a humanitarian safety net for workers and families who live with the anxiety of possible disruption of family life, separation from minor children, detention, and potential deportation.</h2>
<div class="row">
  <div class="column">
    <h3 class="center underline"> <a href="/resources">Seeking Assistance</a></h3>
    <ul class="list border-right">
      <li>English learning</li>
      <li>Legal assistance</li>
      <li>Other support organizations in the community</li>
      <li>Emergency planning/raid or detention response</li>
      <li>Education about immigration</li>
   </ul>
  </div>
  <div class="column">
    <h3 class="center underline"><a href="/volunteer">Seeking to help</a></h3>
    <ul class="list">
      <li>Joining CoSI as a volunteer</li>
      <li>Donating</li>
    </ul>
  </div>
</div>
