<% provide(:title, "Resources/Services") %>
<% provide(:lang, "en") %>

<div style="display:block; width:100%;">
<div class="row">
  <div style="width:30%; float: left; display: inline-block;">
  
  <ul class="list border-right">
      <li>Language Assistance</li>
      <li>Legal Assistance</li>
      <li>Community Resources</li>
      <li>Education about Immigration Issues</li>
   </ul>
  
  </div>
  <div style="width:70%; float: left; display: inline-block;">
  

  </div>
</div>