<% provide(:title, "Resources/Services") %>
<% provide(:lang, "en") %>

<div class="row">
  <div class="column categories">
    <ul class="list data">
        <li>Language Assistance</li>
        <li>Legal Assistance</li>
        <li>Community Resources</li>
        <li>Education about Immigration Issues</li>
     </ul>
  </div>
  <div class="column resources">
    <ul class="list data border-left">
      <li>Resource 1 asdfasfaslfjae;kfksdalfk</li>
      <li>Resource 2</li>
      <li>Resource 3</li>
      <li>Resource 4</li>
      <li>Resource 5</li>
      <li>Resource 6</li>
      <li>Resource 7</li>
    </ul>
  </div>
</div>
