<% provide(:title, "Volunteer or Donate") %>
<% provide(:lang, "en") %>
<h1 class="center", style="font-size:1.6em; font-weight: bold; "> CoSI is an organization run completely by volunteers. Any contribution greatly increases the impact the organization can have.  <h1>
<h2 class="center underline", style="font-size:1.9em; font-weight: bold;"> Volunteer Opportunities</h2>
    <ul class="list">
      <li>Volunteer in case of an immigration enforcement (donating food, preparing and serving food, translating)</li>
      <li>Volunteer as an interpreter or translator for Spanish or French</li>
      <li>Volunteer as part of your career as a Grinnell College student</li>
    </ul>
<h3 class="center underline", style="font-size:1.9em; font-weight: bold;"> Donations</h3>
     <ul class="list">
      <li>For donations please make checks payable to CoSI and send to First Presbyterian Church, 1025 5th Ave, Grinnell, IA, 50112</li>
    </ul>
