<!-- Title (text that appears on webpage tab), language (for accessibility) -->
<!--   provided to app/views/layouts/application.html.erb-->
<% provide(:title, "Volunteer or Donate") %>
<% provide(:lang, "en") %>

<h1 class="center bold", style="font-size:1.4em;">
     CoSI is an organization run completely by volunteers.<br>
     Any contribution greatly increases the impact the organization can have.
<h1>

<h2 class="center bold", style="font-size:1.9em; padding-top:10px">
     Volunteer Opportunities
</h2>

<ul class="list">
  <li>
    Volunteer in case of an immigration enforcement
    (donating food, preparing and serving food, translating)
  </li>

  <li>Volunteer as an interpreter or translator for Spanish or French</li>

  <li>Volunteer as part of your career as a Grinnell College student</li>

  <li>
    There are various committees within the organization you could also
    volunteer to serve on. Please contact us with your skills and interests
    if you are interested.
  </li>

  <li>
    To volunteer, please
    <a href="/contact">email us</a>
    with your skills and availability and best way to contact you.
  </li>
</ul>

<h3 class="center bold", style="font-size:1.9em; padding-top:10px">
     Donations
</h3>

<ul class="list">
  <li>
    For donations please make checks payable to CoSI and send to
    First Presbyterian Church, 1025 5th Ave, Grinnell, IA, 50112
  </li>
</ul>

<h3 class="center", style="font-size:1.9em; padding-top: 10px">
  <a href="/contact", class="volunteerlink">
    If you are interested in donating or volunteering, please <i>contact us!</i>
  </a>
</h3>
