@import "bootstrap-sprockets";
@import "bootstrap";

/*---------------*---------------------
 |  Site Colors  |
 *---------------*/

/* General */
$main-text: #777; // Used for most pages
$border: black; // Used for most borders (e.g. homepage, resources page)
$link-blue: #3366BB;

/* Header colours */
$header-background: #f2f2f2; // header navbar background
$header-text: black; // header navbar text
$header-hover: rgb(0, 71, 49); // navbar text hover

$logo-text: #555555; // title text next to CoSI logo at top

/* Footer colours */
$footer-background:  #fff;
$footer-border-top: #e5e5e5; // the line separating footer from body
$footer-text: #2f2f2f;
$footer-copyright: #999;


/*---------------*---------------------
 |   Universal   |
 *---------------*/

body {
  font-family: "Lato", Arial, "Sans Serif";
}

container {
  margin-left: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center h1 {
  margin-bottom: 10px;
}


/*--------------*----------------------
 |  Typography  |
 *--------------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  //letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  //letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $main-text;           // color
}

h3 {
  font-size: 1.4em;
  //letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $main-text;           // color
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

p2 {
  font-size: .8em;
  line-height: 1.3em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 1.5px;
}


/*--------------*----------------------
 |    Header    |
 *--------------*/

/* Navigation bar text */
.nav li a {
  font-size: 1.1em;
  color: $header-text;           // color
  line-height: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
  text-align: center;
}

.nav li a:hover {
  color: $header-hover;           // color
  font-weight: bold;
}

.nav li a.short {   // to make link same height as those with spanish
    padding-bottom: 35px;
}

/* Navigation bar */
.navbar {
  background-color: $header-background;           // color
}


/* CoSI logo and text */
#navLogo {
  height: 80;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2.4%;
}

#logoText {
  margin-left: 1%;
  color: $logo-text;           // color
  letter-spacing: 1px;
  font-size: 10px;
}


/*--------------*----------------------
 |    Footer    |
 *--------------*/

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 5px 5px 5px 5px;
  color: $footer-text;           // color
  background-color: $footer-background;           // color
  border-top: 1px solid $footer-border-top;           // color
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33);           // color
  border-radius: 100px;
  color: $footer-text;           // color
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: $footer-copyright;           // color
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: $footer-copyright;           // color
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: $footer-text;           // color
}

/* Format based on device screen size */
@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}


/*--------------*----------------------
 |   Homepage   |
 *--------------*/

#about {
  font-size: 1.5em;
  letter-spacing: 0px;
  text-align: left;
}

.column.home {
  float: left;
  width: 50%;
}

.list {
  font-size: 1.3em;
  line-height: 2;
  margin-left: 15%;
  color: $main-text;           // color
  c {
    font-style: italic;
    font-size: 1em;
  }
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.border-right {
    border-right: 1px solid $border;           // color
    margin-left: 5%;
}

li:not(.navlist){
  margin-bottom: 1%;
}

/* Link colors for columns */
a.homelink {
  color: $main-text;           // color
}

a.hometitlelink {
  color: $header-text;           // color
}


/*---------------*---------------------
 |   Resources   |
 *---------------*/

.column.categories {
  float: left;
  width: 25%;
  text-align: left;
}

.column.resources {
  float: right;
  width: 75%;
}

.border-left {
  border-left: 1px solid $border;           // color
}

.list.data {
  margin-left: 0;
  padding-left: 10%;
  line-height: 1.5;
  list-style: none;
}

.bold.category {
  margin-bottom: 2%;
  color: black;           // color
  font-size: 1.3em;
}


/*---------------*---------------------
 |   Volunteer   |
 *---------------*/

a.volunteerlink {
  color: $header-text;
  //text-decoration: underline;
  //text-underline-position: under;
}

a.volunteerlink:hover {
  color: $link-blue;           // color
}

.volunteerlink i {
  text-decoration: underline;
}
