@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 10px;
}

container {
  margin-left: 0;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

body .logo {
  padding-bottom: 10px;
}


.nav li a {
  font-size: 1.3em;
  color:  black !important;
  line-height: 35px;
}

.nav li a:hover {
  font-size: 1.3em;
  color: rgb(179, 198, 122) !important;
  font-weight: bold;
}

.navbar{
  background-color: #f2f2f2;
}

#navLogo{
  height: 70px;
  margin-top: 0;
}



/*
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  height: 10px;
}


#logo:hover {
  color: #fff;
  text-decoration: none;
}

*/


/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
