@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: "Lato", Arial, "Sans Serif";
}

container {
  margin-left: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

body .logo {
  padding-bottom: 10px;
}


.nav li a {
  font-size: 1.1em;
  color:  black !important;
  line-height: 35px;
  letter-spacing: 1.5px;
}

.nav li a:hover {
  color: rgb(0, 71, 49) !important;
  font-weight: bold;

}

.navbar{
  background-color: #f2f2f2;
}


#navLogo{
  height: 70px;
  margin-top: 0;
  margin-left: 2.4%;
}

#logoText{
  margin-left: 1.2%;
  color: #555555;
  letter-spacing: 1px;
  font-size: 10px;
}

/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
