<footer class="footer">

<ul class="footer__nav">

  <li class="nav__item">
      <h2 class="nav__title">
      641-316-6868</h2>
  </li>

  <li class="nav__item">
      <h2 class="nav__title"><a href="mailto:cosicentraliowa@gmail.com" >
      cosicentraliowa@gmail.com </a></h2>
  </li>

  <li class="nav__item">
      <h2 class="nav__title">First Presbyterian Church <br> 1025 5th Ave <br>
      Grinnell, IA 50112</h2>
  </li>
</ul>

  <div class="legal">
    <p>&copy; 2020 CoSI. All rights reserved.</p>
  </div>

</footer>
